
.Canvas{
background-color: white;
}
.Color{
    display: flex;
    background-color: gainsboro;
    /* justify-content: center; */
}
.Color input{
    margin: 25px 50px;
    color: red;
}
.Color h2{
    text-align: center;
}
.Eraser{
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 0px 2px;
    box-shadow: 0px 2px 3px;
    cursor: pointer;
}