.Sidenav{
    width: 25vh;
    max-width: 25vh;
    background-color: blueviolet;
    display: inline-block;
    height: 100vh;

}
.Options{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Options li{
    width: 100%;
}
.Options li:hover{
    background-color: mediumseagreen;
}

.ActiveLink{
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;

}
.Link{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.Logo{
    width: 100%;
    margin: 0px;
    box-shadow: 0px 2px 3px;
}