.Button{
    background-color: gainsboro;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}
.Button:hover{
    background-color: black;
    color: white;
}