.chatBox{
        background-color: teal;
        flex-direction: column;
        position: absolute;
        height: 90%;
        width: 50%;
        left: 30%;
        top: 5% ;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0px 10px 20px;  
        display: flex;
}
.chatBox Input {
    width: max-content;
    padding: 15px;
    margin: 10px;
}
.chatBox Button{
    padding: 20px;
}
.chatInnerBox{
    width: 95%;
    background-color: midnightblue;
    margin: 10px auto;
    height: 500px;
    /* ov/erflow: scroll; */
    box-shadow: 0px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: scroll;
    
}
.chatMessageUser {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.chatMessageAdmin{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message{
    background-color: gainsboro;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    display: inline-flex;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }